<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataOfPasterTemplates</key>
	<array>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate1.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate2.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate3.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate4.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate5.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate6.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate7.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate8.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate9.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate10.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate11.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
		<dict>
			<key>GeoPasterTemplates</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FileName</key>
			<string>pasterTemplate12.png</string>
			<key>CountOfGeoTemplates</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
